@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Humming';
  src: url('../src/fonts/humming.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
