@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
      font-family: 'Rodin';
      src: url('./fonts/FOT-RodinBokutohProEB.otf') format('otf');
          
      font-weight: normal;
      font-style: normal;
    }